.container {
  display: flex;
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 250px;
  height: 800px;
  width: 1500px;
  border: 1px solid red;
  position: relative;
  background: var(--geist-background);
  font-size: 12px;
}